:root {
	--color-0: #ffffff;
	--color-1: #fae3e3;
	--color-2: #f7d4bc;
	--color-3: #cfa5b4;
	--color-4: #c98bb9;
	--color-5: #ad7da1;
	--color-6: #5a3030;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.about-section {
	max-width: 1000px;
	margin: 20px auto !important;
	padding: 10px;
	text-align: center;
}

.about-section h2 {
	color: var(--color-6);
	font-size: 36px;
	text-decoration: underline;
	margin-bottom: 10px;
}

.about-section p {
	color: var(--color-6);
	font-size: 24px;
	max-width: 600px;
	margin: 20px auto;
}

.close-modal {
	color: var(--color-1);
	position: absolute;
	right: 10px;
	top: 10px;
	cursor: pointer;
	font-size: 40px;
	font-weight: bold;
}

.favorite-btn, .view-btn {
	transition: all 0.1s ease-in-out;
	background-color: var(--color-4);
	border: 3px solid var(--color-5);
    border-radius: 4px;
	color: var(--color-1);
	cursor: pointer;
	font-size: 18px;
	line-height: 1.5;
	margin-right: 3px;
	padding: 2px;
}

.favorite-btn:active, .view-btn:active {
	background-color: var(--color-2) !important;
    color: var(--color-6) !important;
    border-color: var(--color-4) !important;
}

.favorite-btn:hover, .view-btn:hover {
	background-color: var(--color-3);
	border-color: var(--color-2);
	font-weight: bolder;
}

.favorite-btn.favorited {
	transition: all 0.1s ease-in-out;
	background-color: var(--color-2);
    color: var(--color-6);
    border-color: var(--color-4);
}

.favorite-btn.favorited:hover {
	background-color: var(--color-1);
	border-color: var(--color-3);
}

.modal-actions .favorite-btn.favorited {
	border-color: var(--color-3);
}

.modal-actions .favorite-btn {
	border-color: var(--color-5);
}

.filter-btn {
    
    transition: all 0.1s ease-in-out;
	background-color: var(--color-3);
	border: 3px solid var(--color-4);
    border-radius: 4px;
    line-height: 1.5;
	color: var(--color-1);
	cursor: pointer;
	font-size: 24px;
    
	margin: 8px 4px;
	padding: 1px 3px;
}

.filter-btn:hover {
    font-weight: bolder;
	background-color: var(--color-4);
    border-color: var(--color-2);
	color: var(--color-0);
}

.filter-btn.active {
	background-color: var(--color-2);
    color: var(--color-6);
    border-color: var(--color-4);
}

.filter-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
	margin-top: 2px;
}

.filter-section {
	margin: 5px auto;
	max-width: fit-content;
	min-width: 350px;
	padding: 2px;
}

::placeholder {
	color: var(--color-1)
}

.filter-section h3 {
	color: var(--color-5);
	font-size: 24px;
	text-align: center;
}

.footer-content {
	font-size: 18px;
}

.footer-links {
	margin-top: 12px;
}

.footer-links a {
	color: var(--color-3);
	font-size: 16px;
	margin: 12px;
	text-decoration: none;
}

.footer-links a:hover {
	color: var(--color-5);
	text-decoration: underline;
}

.header-content {
	text-align: center;
}

.hero-section {
	background-color: var(--color-3);
	border: 10px double var(--color-1);
    border-radius: 24px;
	padding: 5px;
	text-align: center;
}

.hero-subtitle {
	color: var(--color-6);
	font-size: 24px;
	margin: 10px;
}

.hero-title {
	color: var(--color-2);
	font-size: 80px;
	letter-spacing: 10px;
	text-shadow: 5px 5px var(--color-6);
	text-transform: uppercase;
}

.main-content {
	padding: 10px;
}

.main-footer {
	
	margin: auto;
	max-width: 600px;
	border-top: 5px double var(--color-2);
	color: var(--color-5);
	padding: 10px;
	text-align: center;
}

.main-header {
	padding-top: 30px;
    
    background: linear-gradient(180deg, rgba(201, 139, 185, 0.5), rgba(0,0,0,0) 50%);
}

.main-nav {
	margin-top: 10px;
}

.modal {
    transition: all 0.3s ease-out;
	background-color: rgba(0, 0, 0, 0.3);
	display: none;
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1000;
}
.modal-content {
	background-color: var(--color-4);
	border: 4px double var(--color-1);
	border-radius: 20px;
	box-shadow: inset 0px 0px 10px 10px var(--color-3), 0px 0px 40px 40px rgba(0, 0, 0, 0.3);
	margin: 10% auto;
	max-width: 600px;
	position: relative;
    overflow: auto;
    max-height: 80%;
	padding: 20px;
	width: 50%;
}

.modal-ingredients h4, .modal-instructions h4 {
	color: var(--color-1);
	font-size: 18px;
	text-decoration: underline;
}

.modal-ingredients li, .modal-instructions li {
	line-height: 1;
	margin: 5px 0;
}

.modal-ingredients ul, .modal-instructions ol {
	color: var(--color-6);
	font-size: 16px;
	margin-left: 10px;
}

.modal-ingredients, .modal-instructions {
	margin: 20px 0px;
}

.modal-recipe-image {
	border: 2px solid var(--color-2);
    border-radius: 12px;
    
	float: left;
	height: 100px;
	margin-right: 5px;
	object-fit: cover;
	width: 100px;
}

.modal-recipe-title {
	color: var(--color-2);
	font-size: 30px;
	margin: 2px 0;
}

.nav-list {
	display: block;
	list-style: decimal;
}

.nav-list a {
	background-color: var(--color-3);
	border: 3px solid var(--color-4);
    border-radius: 4px;
	color: var(--color-1);
	font-size: 24px;
	padding: 4px 8px;
	text-decoration: none;
    
    transition: all  0.1s ease-in-out;
}

.nav-list a:hover {
    font-weight: bolder;
	background-color: var(--color-4);
    border-color: var(--color-2);
	color: var(--color-0);
}

.nav-list a:active {
    background-color: var(--color-2);
    color: var(--color-6);
    border-color: var(--color-4);
}

.nav-list li {
	display: inline;
	margin-right: 5px;
}

.favorites-section h2 {
	color: var(--color-6);
	text-align: center;
}

.no-results, .no-favorites {
	color: var(--color-6);
	font-size: 24px;
	padding: 10px;
	text-align: center;
}

.recipe-actions {
	margin-top: 2px;
}

.recipe-card {
	background-color: var(--color-3);
	border: 3px solid var(--color-1);
	border-radius: 30px;
	display: flex;
	flex-direction: row-reverse;
	align-items: center;
	margin: 60px 0;
	padding: 15px;
	text-align: left;
	width: 100%;
    
    box-shadow: 0px 0px 10px 10px var(--color-4), 0px 0px 3px 3px inset var(--color-2);
}

.recipe-card .recipe-image {
	border-radius: 30px;
}

.recipe-category {
	color: var(--color-1);
	display: inline-block;
	font-size: 24px;
	margin-bottom: 10px;
	padding: 1px;
}

.recipe-content {
	width: 100%;
}

.recipe-description {
	color: var(--color-6);
	font-size: 27px;
	line-height: 1;
	margin-bottom: 10px;
	max-width: 70%;
}

.recipe-difficulty {
	color: var(--color-0);
	font-size: 20px;
}

.recipe-grid {
	display: block;
	margin: 10px auto;
	width: fit-content;
    max-width: 1000px;
}

.recipe-image {
	border: 2px solid var(--color-2);
	float: right;
	height: fit-content;
	object-fit: contain;
	width: auto;
}

.recipe-meta {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
	
.recipe-meta * {
	margin-right: 10px;
	margin-bottom: 5px;
}

.recipe-rating {
	color: var(--color-0);
	font-size: 20px;
}

.recipes-section h2 {
	color: var(--color-5);
	margin-bottom: 20px;
	font-size: 24px;
	text-align: center;
	text-decoration: underline;
}

.recipe-time {
	color: var(--color-0);
	font-size: 20px;
}

.recipe-title {
	color: var(--color-2);
	font-size: 36px;
	margin: 1px 0;
	text-transform: uppercase;
}

.search-button, .clear-button {
	background-color: var(--color-4);
	border: 2px solid var(--color-2);
	border-radius: 12px;
	color: var(--color-1);
	cursor: pointer;
	font-size: 24px;
	padding: 5px;
    width: 20%;
}

.search-container {
    width: 50%;
    min-width: 300px;
    max-width: 600px;
	margin: 10px auto;
	text-align: left;
}

.search-input {
	background-color: var(--color-4);
	border: 2px solid var(--color-1);
	color: var(--color-1);
	font-size: 24px;
    border-radius: 12px;
	padding: 5px;
	width: 50%;
}

.section {
	display: none;
	margin: 20px 0;
}

.section.active {
	display: block;
}

.site-title {
	color: var(--color-4);
	font-size: 100px;
	font-weight: bold;
	margin-bottom: 30px;
}

.sort-controls {
    max-width: fit-content;
	margin: 10px auto;
	text-align: right;
}

.sort-controls label {
	color: var(--color-6);
	font-size: 24px;
}

.sort-dropdown {
	transition: all 0.1s ease-in-out;
	background-color: var(--color-3);
	border: 3px solid var(--color-4);
	border-radius: 4px;
	color: var(--color-1);
	font-size: 24px;
}

.sort-dropdown:hover {
	background-color: var(--color-4);
	border: 3px solid var(--color-5);
	border-radius: 4px;
	color: var(--color-1);
	font-size: 24px;
}

.stat-item {
	background-color: var(--color-3);
	border: 4px solid var(--color-4);
	border-radius: 40px;
	color: var(--color-2) !important;
	display: inline-block;
	margin: 20px;
	padding: 20px;
	box-shadow: 0px 0px 5px 5px var(--color-4);
}

.stat-item h3 {
	font-size: 36px;
}

.stat-item p {
	color: var(--color-1) !important;
	font-size: 24px;
}

.stats {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	
	max-width: 600px;
	margin: 5px auto;
}

@media (max-width: 480px) {
	
	.stat-item {
		margin: 5px !important;
		padding: 10px !important;
		box-shadow: 0px 0px 2px 2px var(--color-4);
	}
	.stat-item h3 {
		font-size: 24px !important;
	}
	
	.stat-item p {
		font-size: 12px !important;
		margin: 10px !important;
	}
	
	.recipe-card {
        flex-direction: column;
		box-shadow: 0px 0px 5px 5px var(--color-4);
	}
    
	.recipe-description {
		font-size: 20px;
		max-width: 100%;
	}
    
	.recipe-image {
		height: 40%;
		width: 100%;
	}
	
	.hero-title {
		font-size: 25px;
        letter-spacing: 5px;
        text-shadow: 2px 2px var(--color-6);
	}
    
	.modal-content {
		margin: 20% auto;
		width: 250px;
	}
    
    .search-button, .search-input, .clear-button {
        font-size: 16px;
        padding: 2px;
        border-width: 2px;
    }
	
	.modal-actions .favorite-btn.favorite-btn.favorited {
		font-size: 15px;
	}
	
	.modal-recipe-meta .recipe-category {
		margin-bottom: 20px;
	}
	
	.modal-recipe-meta * {
		margin-right: 10px;
	}
    
    .nav-list {
        display:flex;
        flex-flow: row;
        justify-content: center;
    }
    
    .nav-list a {
        font-size: 16px;
    }
    
	.nav-list li {
        
        display:block;
		margin: 5px;
	}
    
	.site-title {
		font-size: 60px;
	}
}
@media (max-width: 768px) {
    
	.stat-item h3 {
		font-size: 30px;
	}
	
	.stat-item p {
		font-size: 18px;
		margin-bottom: 10px !important;
	}
	
	.recipe-description {
		font-size: 20px;
		max-width: 100%;
	}
	
	.hero-title {
		font-size: 40px;
	}
    
    .search-button, .search-input, .clear-button {
        font-size: 16px;
        padding: 4px;
        border-radius: 8px;
        border-width: 1px;
    }
    
	.site-title {
		font-size: 80px;
	}
}

body {
	background-color: var(--color-1);
	color: var(--color-0);
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	line-height: 1;
}